@import "tailwindcss";

@theme {
  --color-cyber: #00f2ff;
  --color-dark-bg: #0a0a0c;
  --color-neon-purple: #7d00ff;
}

/* Tambahkan sedikit reset agar layar penuh */
:root {
  background-color: #0a0a0c;
  color: #00f2ff;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: 
    linear-gradient(rgba(0, 242, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 242, 255, 0.05) 1px, transparent 1px);
  background-size: 30px 30px;
}